@font-face{
	font-family: "Made Winter";
	 src: url("../fonts/Made_Winter_Inline_PERSONAL_USE.otf")
}

*{
   box-sizing: border-box;
   font-family: "Made Winter";
}
  
body,
h1,
h2,
h3,
h4,
p {
   margin: 0;
}

body {
	background-color: #f3f3f3;
}

ul{
	list-style-type: none;
	padding-bottom: 10px;
}

h1{
	font-size: 72px;
	text-align: center;
	color: white;
}

p{
	padding-bottom: 5px;
	padding-left: 40px;
}

.container{
	width: 100%;
}

.section-main{
	position: relative;
	overflow: hidden;
	height: 100vh;
}

.header{
	background-color: #0047ba;
	height: 520px;
}

.russia {
	position: absolute;
	top: 200px;
	right: 100px;
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: white;
	background-image: url(../img/ITMO.png);
	background-repeat: no-repeat;
	background-position: -11px center;
}

.git,
.vk {
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: white;
	background-image: url(../img/ITMO.png);
	background-repeat: no-repeat;
	background-position: -11px center;
}

.optics{
	position: absolute;
	transform: rotate(90deg);
	top: 500px;
	left: -35px;
	width: 200px;
}

.IT{
	position: absolute;
	top: 700px;
	right: 50px;
	width: 150px;
}

.section-features {
	padding-top: 20px;
	color: white;
	background-color: #0047ba;
}

h3{
	font-size: 36px;
	line-height: 36px;
	padding-bottom: 10px;
	text-align: center;
}
.feature-img{
	line-height: 0;
	text-align: center;
	max-width: 100%;
	padding-bottom: 20px;
}

.feature-img:last-child{
	padding-bottom: 0;
}

.feature-img img {
	max-width: 100%;
}

.feature{
	max-width: 100%;
	border-bottom: 1px solid grey;
	margin-bottom: 10px; 
}

.feature:last-child{
	border-bottom: 0;
	margin-bottom: 0;
}

.info{
	position: relative;
	display: inline-block;
	font-size: 36px;
	padding-top: 10px;
	padding-left: 20px;
	text-align: center;
}

.vk{
	width: 100px;
	height: 100px;
	bottom: 50px;
	left: 85px;
	background-image: url(../img/me.jpg);
	background-size: cover;
	background-position: center 0; 
}

.git{
	width: 100px;
	height: 100px;
	bottom: 50px;
	right: 10px;
	background-image: url(../img/git.png);
	background-position: 5px center;

}

h4{
	text-align: center;
	font-size: 30px;
	padding: 20px 0;
}

@media screen and (min-width: 768px) {
	.vk{
		left: 75px;
		top: 100px;
	}

	.optics{
		top: 500px;
		left: -40px;
		width: 300px;
	}

	.IT{
		top: 600px;
		width: 400px;
		height: 400px;
	}

} 

@media screen and (min-width: 768px) {
	.vk{
		left: 75px;
		top: 100px;
	}

	.optics{
		top: 500px;
		left: -40px;
		width: 300px;
	}

	.IT{
		top: 600px;
		width: 400px;
		height: 400px;
	}

}